In [1]:
import pymongo
import pandas as pd

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

#extract to DB
db = client.gggDB
emo_collections = db.emotion_db.find()
df = pd.DataFrame(list(emo_collections))

In [4]:
df

    Emotion                        Time                       _id
0       sad  2019-01-29 18:58:08.013420  5c5112c04fe11013fcd6846b
1       sad  2019-01-29 18:58:08.129503  5c5112c04fe11013fcd6846c
2       sad  2019-01-29 18:58:08.196324  5c5112c04fe11013fcd6846d
3   neutral  2019-01-29 18:58:08.204303  5c5112c04fe11013fcd6846e
4       sad  2019-01-29 18:58:08.213279  5c5112c04fe11013fcd6846f
5       sad  2019-01-29 18:58:08.282095  5c5112c04fe11013fcd68470
6       sad  2019-01-29 18:58:08.289076  5c5112c04fe11013fcd68471
7       sad  2019-01-29 18:58:08.361881  5c5112c04fe11013fcd68472
8       sad  2019-01-29 18:58:08.438676  5c5112c04fe11013fcd68473
9       sad  2019-01-29 18:58:08.505497  5c5112c04fe11013fcd68474
10      sad  2019-01-29 18:58:08.572318  5c5112c04fe11013fcd68475
11      sad  2019-01-29 18:58:08.638142  5c5112c04fe11013fcd68476
12      sad  2019-01-29 18:58:08.710948  5c5112c04fe11013fcd68477
13      sad  2019-01-29 18:58:08.720921  5c5112c04fe11013fcd68478
14      sad  2019-01-29 18:58:08.798713  5c5112c04fe11013fcd68479
15      sad  2019-01-29 18:58:08.806691  5c5112c04fe11013fcd6847a
16      sad  2019-01-29 18:58:08.877502  5c5112c04fe11013fcd6847b
17  neutral  2019-01-29 18:58:08.888473  5c5112c04fe11013fcd6847c
18    happy  2019-01-29 18:58:08.980227  5c5112c04fe11013fcd6847d
19      sad  2019-01-29 18:58:08.989206  5c5112c04fe11013fcd6847e
20      sad  2019-01-29 18:58:08.996185  5c5112c04fe11013fcd6847f
21    happy  2019-01-29 18:58:09.081956  5c5112c14fe11013fcd68480
22      sad  2019-01-29 18:58:09.089935  5c5112c14fe11013fcd68481
23    happy  2019-01-29 18:58:09.166728  5c5112c14fe11013fcd68482
24      sad  2019-01-29 18:58:09.174707  5c5112c14fe11013fcd68483
25  neutral  2019-01-29 18:58:09.245517  5c5112c14fe11013fcd68484
26      sad  2019-01-29 18:58:09.255491  5c5112c14fe11013fcd68485
27      sad  2019-01-29 18:58:09.333283  5c5112c14fe11013fcd68486
28  neutral  2019-01-29 18:58:09.340264  5c5112c14fe11013fcd68487
29    happy  2019-01-29 18:58:09.413069  5c5112c14fe11013fcd68488
..      ...                         ...                       ...
63      sad  2019-01-29 18:58:11.426683  5c5112c34fe11013fcd684aa
64      sad  2019-01-29 18:58:11.563318  5c5112c34fe11013fcd684ab
65      sad  2019-01-29 18:58:11.572294  5c5112c34fe11013fcd684ac
66      sad  2019-01-29 18:58:11.690977  5c5112c34fe11013fcd684ad
67    happy  2019-01-29 18:58:11.775751  5c5112c34fe11013fcd684ae
68      sad  2019-01-29 18:58:11.872491  5c5112c34fe11013fcd684af
69      sad  2019-01-29 18:58:11.952278  5c5112c34fe11013fcd684b0
70  neutral  2019-01-29 18:58:11.960256  5c5112c34fe11013fcd684b1
71      sad  2019-01-29 18:58:12.055003  5c5112c44fe11013fcd684b2
72      sad  2019-01-29 18:58:12.155734  5c5112c44fe11013fcd684b3
73      sad  2019-01-29 18:58:12.234523  5c5112c44fe11013fcd684b4
74      sad  2019-01-29 18:58:12.301344  5c5112c44fe11013fcd684b5
75      sad  2019-01-29 18:58:12.434987  5c5112c44fe11013fcd684b6
76      sad  2019-01-29 18:58:12.442965  5c5112c44fe11013fcd684b7
77      sad  2019-01-29 18:58:12.515771  5c5112c44fe11013fcd684b8
78    happy  2019-01-29 18:58:12.584587  5c5112c44fe11013fcd684b9
79      sad  2019-01-29 18:58:12.591568  5c5112c44fe11013fcd684ba
80  neutral  2019-01-29 18:58:12.676342  5c5112c44fe11013fcd684bb
81    happy  2019-01-29 18:58:12.684320  5c5112c44fe11013fcd684bc
82      sad  2019-01-29 18:58:12.754133  5c5112c44fe11013fcd684bd
83      sad  2019-01-29 18:58:12.825941  5c5112c44fe11013fcd684be
84    happy  2019-01-29 18:58:12.899744  5c5112c44fe11013fcd684bf
85      sad  2019-01-29 18:58:12.973546  5c5112c44fe11013fcd684c0
86      sad  2019-01-29 18:58:13.051339  5c5112c54fe11013fcd684c1
87      sad  2019-01-29 18:58:13.125141  5c5112c54fe11013fcd684c2
88      sad  2019-01-29 18:58:13.133119  5c5112c54fe11013fcd684c3
89      sad  2019-01-29 18:58:13.205925  5c5112c54fe11013fcd684c4
90    angry  2019-01-29 18:58:13.278730  5c5112c54fe11013fcd684c5
91      sad  2019-01-29 18:58:13.353530  5c5112c54fe11013fcd684c6
92      sad  2019-01-29 18:58:13.429327  5c5112c54fe11013fcd684c7

[93 rows x 3 columns]

In [5]:
count_emo = df.groupby("Emotion").count()

In [7]:
data_df = count_emo.reset_index()

In [8]:
data_df

   Emotion  Time  _id
0    angry     1    1
1     fear     1    1
2    happy    11   11
3  neutral    10   10
4      sad    70   70

In [12]:
data_df.drop(columns=["_id"])

   Emotion  Time
0    angry     1
1     fear     1
2    happy    11
3  neutral    10
4      sad    70